.back  {
width: 55px;
height: 20px;
border-radius: 5px;
background-color: #252e39;
margin-top: 10px;
margin-left: 5px;
float: left;
border: none;
outline: none;
position: relative;
}

.back a {
width: 100%;
color: white;
}

.search-box {
width: 100%;
max-width: 700px;
height: 55px;
margin: auto;
display: flex;
margin-top: 30px;
}

.search-content {
width: 100%;    
max-width: 650px;
height: 80px;
margin: auto;
}

.search-content input {
width: 100%;
display: flex;   
height: 40px;       
outline: none;        
border: none;
outline: none;
background-color:rgb(250, 250, 250);
background-color:rgb(245, 245, 245);
margin: 5px auto;
display: flex;
text-align: center;
border-bottom: 1px solid grey;
}

.search-content input::placeholder {
color: rgb(71, 71, 71);
opacity: 1; 
font-family: monospace;
}

.search-content :focus {
border-bottom: 3px solid grey;
transition: 0.2s;
}

.search-box {
width: 100%;
height: 50px;
display: flex;
}

.search-result {
width: 655px;
height: 300px;
background-color: white!important;
margin: 1px auto;
display: block;
z-index: 9999;
position: relative;
overflow-y: scroll;
border-bottom: 1px solid rgb(190, 188, 188);
line-height: 2;
padding-bottom: 4px;
overflow-y: scroll;
border-radius: 5px;
font-size: 20px;
}


.search-result p {
width: 100%;
height: 45px;
font-size: 16px;
font-weight: 500;
color: rgb(83, 78, 78)!important;
border-bottom: 1px solid rgb(221, 221, 221);
}

.search-result a {
text-decoration: none;
color: grey;
}

.search-result a:hover {
text-decoration: none;
color: rgb(47, 47, 47);
transition: 1s;
}

.search-result-button {
color: whitesmoke;
width: 100%;
max-width: 200px;
height: 30px;
margin: 30px auto;
display: block;
font-size: 20px;
cursor: pointer;
border: none;
outline: none;
padding: 5px;
background-color: #252e39;
border-radius: 5px;
}

.header-container {
width: 100%;
display: flex;
overflow-x: scroll;
overflow-y: hidden;
}

.header-container > div {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border-radius: 0px;
}

/* link background-image */
.header-container a {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.header-card {
width: 100%;
height: 300px;
margin: 30px auto 100px!important;
display: flex;
margin: auto;
display: block;
}

.header-card a {
text-decoration: none;
}

.titles {
color: #252e39;
text-align: left;
margin-left: 10px;
margin-top: 0px;
margin-bottom: -4px;
}

.fade {
background-color: rgba(0, 0, 0, 0.192);
width: 194px;
height: 30px;
display: block;
margin-top: 261px;
z-index: 9999!important;
}

a .circlet {
width: 22px!important;
height: 22px;
background-color: rgb(15, 33, 71);
border-radius: 20px;
color: whitesmoke;
font-size: 16px;
border: 3px solid rgb(51, 139, 51);
text-align: center;
padding: 3px;
font-weight: 400;
float: left;
margin-top: -45px;
margin-left: 10px;
}

.image-link-film {
width: 50px;
height: 50px;
float: left;
margin-top: -10px;
margin-left: 10px;
border-radius: 2px;
}

.circlet-search {
width: 22px!important;
height: 22px;
background-color: rgb(15, 33, 71);
border-radius: 20px;
color: whitesmoke;
font-size: 16px;
border: 3px solid rgb(51, 139, 51);
text-align: center;
padding: 2px;
font-weight: 400;
line-height: 1.5;
margin-right: 5px;
margin-top: 0px;
float: right;
}

.fade:hover {
background-color: rgba(0, 0, 0, 0.698);
transition: 1s;
}

.titulo {
color: white;
display: block;
line-height: 2;
font-size: 15px;
position: relative;
}

.titulo:hover {
color: #ffffff;
font-size: 14px;
transition: 0.4s;
line-height: 1.7;
}

a {
text-decoration: none;
}

::-webkit-scrollbar {
width:  10px;
height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {    
background: transparent;

}  
/* Handle */
::-webkit-scrollbar-thumb {
height: 1px;
background: #616c85;
border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
height: 1px;
background: #65748f;
}


