
.search-box {
width: 100%;
max-width: 700px;
height: 55px;
margin: auto;
display: flex;
margin-top: 30px;
}

.search-content {
width: 100%;    
max-width: 650px;
height: 80px;
margin: auto;
}

.search-content input {
width: 100%;
display: flex;
height: 40px;       
outline: none;        
border: none;
outline: none;
background-color: transparent;
margin: 5px auto;
display: flex;
text-align: center;
color: white;
border-bottom: 2px solid #252e39;
border-radius: 4px;
}

.search-content input::placeholder {
color: whitesmoke;
opacity: 1; 
font-family: monospace;
}

.search-content :focus {
background: #252e39;
border-bottom: 3px solid #181e25;
transition: 0.2s;
}

.search-box {
width: 100%;
height: 50px;
display: flex;
}

.search-result {
width: 655px;
height: 300px;
background-color: #252e39;
margin: 1px auto;
display: block;
z-index: 9999;
position: relative;
overflow-y: scroll;
border-bottom: 1px solid #495b70;
line-height: 2;
padding-bottom: 4px;
overflow-y: scroll;
border-radius: 5px;
font-size: 20px;
}


.search-result p {
width: 100%;
height: 45px;
font-size: 16px;
font-weight: 500;
color: whitesmoke;
border-bottom: 1px solid #181e25;
}

.search-result a {
text-decoration: none;
color: grey;
}

.search-result a:hover {
text-decoration: none;
color: rgb(47, 47, 47);
transition: 1s;
}

.search-result-button {
color: whitesmoke;
width: 100%;
max-width: 200px;
height: 30px;
margin: 30px auto;
display: block;
font-size: 20px;
cursor: pointer;
border: none;
outline: none;
padding: 5px;
background-color: #252e39;
border-radius: 5px;
}

.header-container {
width: 100%;
display: flex;
overflow-x: scroll;
overflow-y: hidden;
}

.header-container > div {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border-radius: 0px;
}

/* link background-image */
.header-container a {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.header-card {
width: 100%;
height: 300px;
margin: 30px auto 100px!important;
display: flex;
margin: auto;
display: block;
}

.header-card a {
text-decoration: none;
}

.titles {
color: whitesmoke;
text-align: left;
margin-left: 10px;
margin-top: 0px;
margin-bottom: -4px;
}

.fade {
background-color: rgba(0, 0, 0, 0.712);
width: 194px;
height: 55px;
display: block;
margin-top: 235px;
z-index: 9999!important;
font-weight: 100;
font-family: 'Bebas Neue', cursive;

}

a .circlet {
width: 22px!important;
height: 22px;
background-color: rgb(15, 33, 71);
border-radius: 20px;
color: whitesmoke;
font-size: 16px;
border: 3px solid rgb(51, 139, 51);
text-align: center;
padding: 3px;
font-weight: 400;
float: left;
margin-top: -45px;
margin-left: 10px;
}

.image-link-film {
width: 50px;
height: 50px;
float: left;
margin-top: -10px;
margin-left: 10px;
border-radius: 2px;
}

.circlet-search {
width: 22px!important;
height: 22px;
background-color: rgb(15, 33, 71);
border-radius: 20px;
color: whitesmoke;
font-size: 16px;
border: 3px solid rgb(51, 139, 51);
text-align: center;
padding: 2px;
font-weight: 400;
line-height: 1.5;
margin-right: 5px;
margin-top: 0px;
float: right;
}

.fade:hover {
background-color: rgba(0, 0, 0, 0.911);
transition: 1s;
font-family: 'Bebas Neue', cursive;
}

.titulo {
color: whitesmoke;
display: block;
line-height: 2;
font-size: 16px;
position: relative;
text-align: center;
line-height: 3.5;
}

.titulo:hover {    
color: whitesmoke;
font-size: 14px;
transition: 0.4s;
line-height: 4;
}

a {
text-decoration: none;
}

::-webkit-scrollbar {
width:  10px;
height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {    
background: #495b70;
}

/* Handle */
::-webkit-scrollbar-thumb {
height: 1px;
background: #181e25;
border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
height: 1px;
background: #252e39;
}


