
@media (max-width: 700px) {    
.search-result {
width: 100%;
max-width: 420px;
height: 300px;
background-color:white;
margin: 1px auto;
display: flex;
z-index: 9999;
position: relative;
overflow-y: scroll;
line-height: 2;
font-size: 16px;
}

.search-content {
width: 100%;    
max-width: 650px;
height: 80px;
margin: auto;
margin-bottom: 20px!important;
}

.search-content input {
width: 95%;
max-width: 420px;
display: flex;   
height: 40px;       
outline: none;        
border: none;
outline: none;
background-color: transparent;
margin: 3px auto;
display: flex;
text-align: center;
border-bottom: 2px solid #252e39;
}

.search-content input::placeholder {
color: whitesmoke;
opacity: 1; 
font-family: monospace;
}

.search-content :focus {
background: #252e39;
border-bottom: 3px solid #181e25;
transition: 0.2s;
}


.search-result {
    background-color: #252e39;
}

.search-result p {
color: whitesmoke;
border-bottom: 1px solid grey;
margin-bottom: -4px;
padding: 5px;
}

.search-result a {
text-decoration: none;
color: rgb(121, 41, 41);
}

.search-result a:hover {
text-decoration: none;
color: rgb(47, 47, 47);
transition: 1s;
}

.header-container {
width: 100%;
display: flex;
overflow-x: scroll;
overflow-y: hidden;
}

.header-container > div {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border-radius: 0px;
}

/* link background-image */
.header-container a {
width: 180px;
height: 290px;
margin: 10px;
font-size: 30px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.header-card {
width: 100%;
height: 300px;
margin: 30px auto 80px!important;
display: flex;
margin: auto;
display: block;
}

.header-card a {
text-decoration: none;
}

.titles {
color: whitesmoke;
text-align: left;
margin-left: 10px;
margin-top: 50px!important;
margin-bottom: -4px;
}

.fade {
background-color: rgba(0, 0, 0, 0.705);
width: 180px;
height: 55px;
display: block;
margin-top: 225px;
z-index: 9999!important;
}

.titulo p {
color: white;
display: block;
line-height: 0;
font-size: 15px;
position: relative;
margin-top: 10px!important;
}

}