
.container {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  height: 350px;
  background: transparent;
}

.box p {
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  color: whitesmoke;
  margin-bottom: 0px;
}

button {
  width: 250px;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #252e39;
}

#icon-arrow {
  width: 245px;
  font-size: 22px;
  color: whitesmoke;
}